/*
This is Something for me.
*/
body{
    width: 100%;
    height: 100%;
    background-color: red;
    -webkit-animation-name: background; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s infinite; /* Chrome, Safari, Opera */
    animation-name: background;
    animation-duration: 4s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes background {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes background {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}