/*
This is Something for me.
*/
html, body {
  height: 100%;
  overflow: hidden;
}
body{
	margin: 0;
    height:100%;
    width:100%;
    background: rgb(11, 11, 11);
    animation: fading 8s infinite;
   -webkit-animation: fading 8s infinite;
   opacity: 0.6;
   color: #fff;
}

.content{
	margin-top: 5%;
	text-align: center;
    width: 100%;
    height: 100vh;
    display: table;
    position: fixed;
    top: 28%;
}


h1{
	margin: auto;
	text-align: center;
	vertical-align: middle;
    font-size: 2rem;
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .content{
        padding-bottom: 3%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .col{
        width: 100%;
    }
}
