/*
This is Something for me.
*/
html, body {
  height: 100%;
  overflow: hidden;
}
body{
	margin: 0;
    height:100%;
    width:100%;
    background: rgb(11, 11, 11);
    animation: fading 8s infinite;
   -webkit-animation: fading 8s infinite;
   opacity: 0.3;
   color: #fff;
   display: flex;
}


/* @keyframes fading {
    0%   { background: #111111; }
    33%  { background: #eceeef; }
    66%  { background: #f8fafb; }
    100% { background: #111111; }
}

@-webkit-keyframes fading {
    0%   { background: #111111; }
    33%  { background: #eceeef; }
    66%  { background: #f8fafb; }
    100% { background: #111111; }
} */


.content{
	margin-top: 5%;
	text-align: center;
}

.content img{
	border-radius: 100%;
}
h1{
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

.col{
    width: 50%;
    float: left;
}

.col img{
    width: 33%;
    padding: 0;
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .content{
        padding-bottom: 3%;
    }
    .col{
        width: 100%;
    }
}
